@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-highlight-red: var(----highlight-red);
  --color-highlight-pink: var(----highlight-pink);
  --color-highlight-purple: var(----highlight-purple);
  --color-highlight-blue: var(----highlight-blue);
  --color-highlight-green: var(----highlight-green);
  --color-highlight-yellow: var(----highlight-yellow);
  --color-highlight-orange: var(----highlight-orange);
  --color-highlight-brown: var(----highlight-brown);
  --color-highlight-gray: var(----highlight-gray);
  --color-highlight-default: var(----highlight-default);
  --color-text-red: var(----text-red);
  --color-text-pink: var(----text-pink);
  --color-text-purple: var(----text-purple);
  --color-text-blue: var(----text-blue);
  --color-text-green: var(----text-green);
  --color-text-yellow: var(----text-yellow);
  --color-text-orange: var(----text-orange);
  --color-text-brown: var(----text-brown);
  --color-text-gray: var(----text-gray);
  --color-text-default: var(----text-default);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --text-default: #000000;
  --text-gray: #6B7280;
  --text-brown: #92400E;
  --text-orange: #EA580C;
  --text-yellow: #CA8A04;
  --text-green: #16A34A;
  --text-blue: #2563EB;
  --text-purple: #9333EA;
  --text-pink: #DB2777;
  --text-red: #DC2626;
  --highlight-default: #FFFFFF;
  --highlight-gray: #F3F4F6;
  --highlight-brown: #FEF3C7;
  --highlight-orange: #FFEDD5;
  --highlight-yellow: #FEF9C3;
  --highlight-green: #DCFCE7;
  --highlight-blue: #DBEAFE;
  --highlight-purple: #F3E8FF;
  --highlight-pink: #FCE7F3;
  --highlight-red: #FEE2E2;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
  --text-default: #FFFFFF;
  --text-gray: #9CA3AF;
  --text-brown: #D97706;
  --text-orange: #F97316;
  --text-yellow: #EAB308;
  --text-green: #22C55E;
  --text-blue: #3B82F6;
  --text-purple: #A855F7;
  --text-pink: #EC4899;
  --text-red: #EF4444;
  --highlight-default: #1F2937;
  --highlight-gray: #374151;
  --highlight-brown: #78350F;
  --highlight-orange: #9A3412;
  --highlight-yellow: #854D0E;
  --highlight-green: #166534;
  --highlight-blue: #1E40AF;
  --highlight-purple: #6B21A8;
  --highlight-pink: #9D174D;
  --highlight-red: #991B1B;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
